body{
    background-image: linear-gradient(100deg, rgb(67, 243, 205), rgb(11, 186, 240)
    )  ;
}

main{
    background-color: aliceblue;
    margin: auto;
    padding: 10px;
    font-size: 10px;
    width: 350px;
   

}